@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/*fuentes*/
h2{
      font-family: 'Nunito', sans-serif;
}

/*body*/
body{
      width: 100vw;
      height: 100%;
      font-family: 'Montserrat', sans-serif;
}

/*header*/
header{
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      height: 5vh;
      position: fixed;
      bottom: 0;
      z-index: 9;
}


/*nav*/
nav{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(#ffd52f,#FFCC03);
      visibility: hidden;
}

/*ul*/
ul{
      width: 65%;
      height: 50%;
      display: flex;
      list-style: none;
      align-items: center;
      justify-content: center;
      padding: 0px;
}

/*li*/
li{
      height: 50%;
      margin-left:10px;
      margin-right:10px;
}


/*menu hamburguesa*/
#circulo{
      position: absolute;
      clip-path: circle();
      background-color: white;
      width: 50px;
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.linea{
      height: 5px;
      width: 30px;
      background-color: black;
      border-radius: 5px;
      margin: 2px;
      transition: all 1.5s;
}

.linea_abierta{
      height: 5px;
      width: 30px;
      margin: 0;
      border-radius: 5px;
      background-color: black;
}

.linea_abierta:nth-child(3){
      transform:rotate(675deg) ;
      transition: all 1.5s;
}

.linea_abierta:nth-child(2){
      display: none;
}

.linea_abierta:nth-child(1){
      transform: translateY(5px) rotate(-675deg) ;
      transition: all 1.5s;
}  


/*main*/
main{
      display: flex;
}

/*aside*/
#contenedor-aside{
      width: 5vw;
      height: 100vh;
      position: fixed;
}

/*flecha aside*/
#flecha{
      clip-path: circle();
      width: 5vh;
      height: 10vh;
      margin-top: 47.5vh;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9;
      background-color: rgba(193, 193, 193, 0.411);
}

/*contenedor-linea-flecha*/
#contenedor-linea-flecha{
      width: 20px;
      height: 10px;
      margin-bottom: 2px;
}

/*linea flecha*/
.linea-flecha{
      z-index: 9;
      width: 16px;
      height: 5px;
      margin-left: 20%;
      background-color: black;
}

.linea-flecha:nth-child(1){
      margin-bottom: 3px;
      transform: rotate(40deg);
}

.linea-flecha:nth-child(2){
      margin-top: 3px;
      transform: rotate(-40deg);
}


/*aside contenido*/
#aside-global{
      position: absolute;
      visibility: hidden;
      width: 5vw;
      height: 100vh;
      z-index: 19;
      background-color: black;
}

/*seciones*/
#contenedor-secciones{
      width: 90%;
      height: 100vh;
}

.secciones{
      position: absolute;
      width: 100%;
      height: 94vh;
      display: none;
}


/*home*/
#home{
      display: block;
      height: 90%;
      width: 90%;
      background-image: url(./home/plantilla.png);
      background-repeat: no-repeat;
      background-size: cover;
}

#nombre_apelli{
      display: flex;
      flex-direction: column;
      width:70%;
      height:10%;
}

#nombre_apelli_cont{
      margin-top: 22px;
      margin-left: 90px;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 50%;
}

span{
      font-family: "texto", sans-serif;
}

#nombre_apelli_cont>:nth-child(2){
      font-size: small;
      color: rgb(95, 95, 95);
}

/*home contenido*/
#home-contenido{
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

#desarrollador-web{
      color: #1A3834;
      background-color: white;
      width: 50%;
      border-radius: 10px;
      font-size: 20px;
      margin-left: 20px;
}

/*github*/
#contenedor-github{
      display: flex;
      align-items: center;
      margin-top: 22%;
      background-color: white;
      width: 100%;
      height: 10%;
}

#github{
      color:rgb(40, 44, 71);
      margin-left: 8%;
      font-size: 17px;
      font-weight:900;
}


/*proyectos*/
#proyectos{
      display: none;
      flex-direction: column;
      text-align: center;
}

.proyecto{
      background-color: white;
      height: 400px;
      width: 100%;
      margin-top: -2%;
}

.contenedor_proyecto{
      width: 100%;
      height: 80%;
}

#sobre_mi{
      background-color: orange;
}
