@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

/*variables*/
:root{
      --0:red;
      --25:rgb(255, 102, 0);
      --50:rgb(255, 230, 0);
      --75:green;
      --100:rgb(34, 255, 0);
      --principal: #ffd52f;
}


/*fuentes*/
h2{
      font-family: 'Nunito', sans-serif;
}

h3{
      font-family: 'Ubuntu', sans-serif;
}

h5{
      font-family: 'Syne Mono', monospace;
}

span, p, label, input{
      font-family: 'Exo 2', sans-serif;
}

/*z-index*/
.linea-flecha, .linea-flecha-reves{
      z-index: 49;
}

#flecha{
      z-index: 39;
}

#circulo{
      z-index: 9;
}

/*body*/
body{
      width: 100vw;
      height: 100%;
      font-family: 'Montserrat', sans-serif;
}

/*header*/
header{
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      height: 5vh;
      position: fixed;
      bottom: 0;
      z-index: 9;
}


/*nav*/
nav{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: var(--principal);
      visibility: hidden;
}

/*ul*/
ul{
      width: 70%;
      height: 50%;
      display: flex;
      list-style: none;
      align-items: center;
      justify-content: center;
      padding: 0px;
}

/*li*/
li{
      position: relative;
      height: 50%;
      width: calc(100%/7);
}

/*menu hamburguesa*/
#circulo{
      position: absolute;
      clip-path: circle();
      background-color: white;
      width: 50px;
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.linea{
      height: 5px;
      width: 30px;
      background-color: black;
      border-radius: 5px;
      margin: 2px;
      transition: all 1.5s;
}

.linea_abierta{
      height: 5px;
      width: 30px;
      margin: 0;
      border-radius: 5px;
      background-color: black;
}

.linea_abierta:nth-child(3){
      transform:rotate(675deg) ;
      transition: all 1.5s;
}

.linea_abierta:nth-child(2){
      display: none;
}

.linea_abierta:nth-child(1){
      transform: translateY(5px) rotate(-675deg) ;
      transition: all 1.5s;
}  


/*main*/
main{
      display: flex;
}

/*aside*/
#contenedor-aside{
      width: 10vw;
      height: 100%;
      position: fixed;
}

/*aside contenido*/
#aside-global{
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      opacity: 0;
      width: 15vw;
      height: 100%;
      background-color: var(--principal);
      transition: all 1s ease-in-out;
}

/*redes*/
#contenedor-redes{
      position: absolute;
      height: 20%;
      bottom: 0;
      display: flex;
      flex-direction: column;
}

a{
      color: black;
      text-decoration: none;
}

a:visited{
      color: black;
}

/*flecha aside*/
#flecha{
      float: right;
      clip-path: circle();
      width: 5vh;
      height: 10vh;
      margin-top: 47.5vh;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9;
      background-color: rgba(193, 193, 193, 0.411);
}

/*contenedor-linea-flecha*/
#contenedor-linea-flecha{
      width: 20px;
      height: 10px;
      margin-bottom: 2px;
}

/*linea flecha*/
.linea-flecha{
      width: 16px;
      height: 5px;
      border-radius: 5px;
      margin-left: 20%;
      background-color: black;
      transition: all 1s;
}

.linea-flecha-reves{
      width: 16px;
      height: 5px;
      border-radius: 5px;
      background-color: black;
      transition: all 1s;
}

.linea-flecha:nth-child(1){
      margin-bottom: 3px;
      transform: rotate(40deg);
}

.linea-flecha:nth-child(2){
      margin-top: 3px;
      transform: rotate(-40deg);
}

.linea-flecha-reves:nth-child(1){
      margin-bottom: 3px;
      transform: rotate(490deg);
}

.linea-flecha-reves:nth-child(2){
      margin-bottom: 3px;
      transform: rotate(-490deg);
}

/*seciones*/
#contenedor-secciones{
      width: 90%;
      height: 100vh;
}

.secciones{
      position: absolute;
      width: 100%;
      height: 94vh;
      display: none;
}


/*home*/
#home{
      display: block;
      height: 90%;
      width: 90%;
      background-image: url(./home/plantilla.png);
      background-repeat: no-repeat;
      background-size: cover;
}

#nombre_apelli{
      display: flex;
      flex-direction: column;
      width:70%;
      height:10%;
}

#nombre_apelli_cont{
      margin-top: 7%;
      margin-left: 32%;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 50%;
}

#nombre_apelli_cont>:nth-child(2){
      font-size: small;
      color: rgb(95, 95, 95);
}

/*home contenido*/
#home-contenido{
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

#desarrollador-web{
      color: #1A3834;
      background-color: white;
      width: 50%;
      border-radius: 10px;
      font-size: 20px;
      margin-left: 10%;
}

/*github*/
#contenedor-github{
      display: flex;
      align-items: center;
      margin-top: 22%;
      background-color: white;
      width: 100%;
      height: 10%;
}

#github{
      margin-left: 8%;
      font-size: 17px;
      font-weight:900;
}


/*proyectos*/
#contenedor-proyectos{
      display: flex;
      flex-direction: column;
      text-align: center;

}

.proyecto{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 400px;
      width: 100%;
}

.contenedor_proyecto{
      width: 90%;
      height: 80%;
}


/*sobre mi*/
#contenedor-sobre-mi{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
      margin-left: calc((100vw - 90%)/2);
      margin-top: 25%;
}

#contenedor-info-sobre-mi,#contenedor-info-sobre-mi-ani{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
}


#contenedor-info-sobre-mi-ani{
      animation: info-sobre-mi 3s ease-in-out;
}

@keyframes info-sobre-mi{
      0%   {transform:translateX(-17rem) rotate(0deg) scale(0.5);}
      100%  {transform:translateX(0) rotate(360deg) scale(1);}
}

#img-sobre-mi-ani{
      animation: img-sobre-mi 3s ease-in-out;
}

@keyframes img-sobre-mi{
      0%   {transform:translateX(17rem) rotate(360deg) scale(0.5);}
      100%  {transform:translateX(0) rotate(0deg) scale(1);}
}

/*servicios*/
#contenedor-servicios{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

.servicio{
      width: 75%;
      border-radius: 20px 20px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      margin-bottom: 3vh;
}

.contenedor-servicio{
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      width: 100%;
      height: calc(91%/3);
}


.contenedor-servicio-info{
      width: 50%;
      height: 50%;
}

.img-servicio{
      width: 40%;
      height: 500%;
}

/*habilidades*/
#contenedor-habilidades{
      display: flex;
      flex-direction: column;
}

.contenedor-skills{
      height: calc(100vh/6);
      width: 100%;
      text-align: center;
}

.skills{
      width: 100%;
      height: 30px;
      border-radius: 30px;
      background-color: rgba(186, 186, 186, 0.319);
}

.skills__design--progress{
      position: absolute;
      width: 97%;
      height: 25px;
      border-radius: 30px;
      margin-top: 2.5px;
      margin-left: 5px;
}

.skills__design--progress__1{
      position: absolute;
      height: 20px;
      border-radius: 30px;
      background-color: green;
      margin-top: 2.5px;
      margin-left: -50%;
}

/*html*/
.contenedor-skills:first-child>.skills>.skills__design--progress  >.skills__design--progress__1{
      animation: mymove1 3s infinite;
}

@keyframes mymove1{
      0% {
            width: 0%;
            background-color: var(--0);
        }
      100% {
            width:75%;
            background-color: var(--75);
        }
}

/*css*/
.contenedor-skills:nth-child(2)>.skills>.skills__design--progress  >.skills__design--progress__1{
      animation: mymove2 3s infinite;
}

@keyframes mymove2{
      0% {
            width: 0%;
            background-color: var(--0);
        }
      100% {
            width: 86%;
            background-color: var(--100);
        }
}

/*java*/
.contenedor-skills:nth-child(3)>.skills>.skills__design--progress  >.skills__design--progress__1{
      animation: mymove3 3s infinite;
}

@keyframes mymove3{
      0% {
            width: 0%;
            background-color: var(--0);
        }
      100% {
            width: 90%;
            background-color: var(--100);
        }
}

/*python*/
.contenedor-skills:nth-child(4)>.skills>.skills__design--progress  >.skills__design--progress__1{
      animation: mymove4 3s infinite;
}

@keyframes mymove4{
      0% {
            width: 0%;
            background-color: var(--0);
        }
      100% {
            width: 70%;
            background-color: var(--75);
        }
}
/*php*/
.contenedor-skills:nth-child(5)>.skills>.skills__design--progress  >.skills__design--progress__1{
      animation: mymove5 3s infinite;
}

@keyframes mymove5{
      0% {
            width: 0%;
            background-color: var(--0);
        }
      100% {
            width: 55%;
            background-color: var(--75);
        }
}

/*mysql*/
.contenedor-skills:last-child>.skills>.skills__design--progress  >.skills__design--progress__1{
      animation: mymove6 3s infinite;
}

@keyframes mymove6{
      0% {
            width: 0%;
            background-color: var(--0);
        }
      100% {
            width: 35%;
            background-color: var(--50);
        }
}

/*testimonios*/
.contenedor-cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
}

.contenedor-cards .card {
      position: relative;
      cursor: pointer;
}

.contenedor-cards .card .parte {
      width: 300px;
      height: 200px;
      transition: 0.5s;
}

.contenedor-cards .card .parte.parte1 {
      position: relative;
      background: #333;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      transform: translateY(100px);
}

.contenedor-cards .card:hover .parte.parte1 {
      background: #ff0057;
      transform: translateY(0);
}

.contenedor-cards .card .parte.parte1 .contenido {
      opacity: 0.5;
      transition: 0.5s;
}

.contenedor-cards .card:hover .parte.parte1 .contenido {
      opacity: 1;
}

.contenedor-cards .card .parte.parte1 .contenido img {
      max-width: 100px;
}

.contenedor-cards .card .parte.parte1 .contenido{
      margin: 10px 0 0;
      padding: 0;
      color: #fff;
      text-align: center;
      font-size: 1.5em;
}

.contenedor-cards .card .parte.parte2 {
      position: relative;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      box-sizing: border-box;
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
      transform: translateY(-100px);
}

.contenedor-cards .card:hover .parte.parte2 {
      transform: translateY(0);
}

.contenedor-cards .card .parte.parte2 .contenido p {
      margin: 0;
      padding: 0;
}

.contenedor-cards .card .parte.parte2 .contenido{
      margin: 15px 0 0;
      display: inline-block;
      text-decoration: none;
      font-weight: 900;
      color: #333;
      padding: 5px;
}

.contenedor-cards .card .parte.parte2 .contenido{
      background: white;
      color: #333;
}

/*contacto*/

#formulario{
      width: 90vw;
      height: 90vh;
      margin-left: 5vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
}

/*imagen contacto*/
#imagen-contacto{
      width: 50%;
      height: 30%;
}

/*formulario*/
.info-formulario{
      height: 50%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
}

#contenedor-info{
      width: 50%;
      height: 70%;
}

/*inputs*/
input{
      border: none;
      border-bottom: 1px solid #000000;
      outline: none;    
}

input:valid{
      border-bottom: 1px solid rgb(0, 181, 0);
}

input:invalid{
     border-bottom: 1px solid rgb(233, 0, 0);
}

/*boton*/
#enviar{
      width: 50%;
      height: 10%;
      border: 2px solid #422800;
      border-radius: 30px;
      box-shadow: #422800 4px 4px 0 0;
      cursor: pointer;
      display: inline-block;
      font-weight: 600;
      font-size: 18px;
      line-height: 50px;
      text-align: center;
      user-select: none;
      touch-action: manipulation;
      background-color: #fff;
      box-shadow: #422800 2px 2px 0 0;
      transform: translate(2px, 2px);
}

#enviar:hover{
      transform: translateY(-3px) scale(1.05);
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .4);
      color: rgb(179, 79, 79);
}


@media (min-width: 610px) {

      /*proyectos*/
      #contenedor-proyectos{
            flex-direction: row;
            flex-wrap: wrap;
      }

      .proyecto{
            width: 50%;
      }

      /*servicios*/
      .contenedor-servicio{
            flex-direction: row;
      }

      .servicio:nth-child(even)>.contenedor-servicio{
            flex-direction: row-reverse;
      }

      /*contacto*/
      #imagen-contacto{
            height: 50%;
      }

}

@media (min-width: 900px) {
      /*logo*/
      #logo{
            height: 20%;
      }


      /*proyectos*/
      #contenedor-proyectos{
            flex-direction: row;
            flex-wrap: wrap;
      }

      .proyecto{
            width: 50%;
      }

      /*sobre mi*/
      #contenedor-sobre-mi{
            margin-top: 15%;
      }

      /*servicios*/
      #contenedor-servicios{
            flex-direction: row;
            flex-wrap: wrap;
      }

      .servicio{
            width: 40%;
            margin-top: 5%;
      }

      .servicio:nth-child(odd){
            margin-right: 10%;
      }

      /*habilidades*/
      #contenedor-habilidades{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
      }

      .contenedor-skills{
            height: calc(100vh/3);
            width: 47%;
            margin-right: 1.5%;
      }

      .skills__design--progress{
            width: 47%;
      }

      /*testimonios*/
      .contenedor-cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
      }

      .card{
            margin-left: 5%;
            margin-right: 5%;
      }

      /*contacto*/
      #imagen-contacto{
            height: 35%;
            width: 30%;
      }

}